@mixin pseudoelements {
  content: '';
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin triangle-all {
  width: 0;
  height: 0;
  border-style: solid;
}
@mixin to-bottom ($color) {
  @include triangle-all;
  border-width: 4.3px 2.5px 0 2.5px;
  border-color: $color transparent transparent transparent;
}
@mixin to-top ($color) {
  @include triangle-all;
  border-width: 0 2.5px 4.3px 2.5px;
  border-color:  transparent transparent $color transparent;
}
@mixin to-right ($color) {
  @include triangle-all;
  border-width: 2.5px 0 2.5px 4.3px;
  border-color:  transparent transparent transparent $color;
}
@mixin to-left ($color) {
  @include triangle-all;
  border-width: 2.5px 4.3px 2.5px 0;
  border-color: transparent  $color transparent transparent;
}

.fgth{
  &::before{
    @include pseudoelements;
    @include to-bottom(black);
  }
}