.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  .sitenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    &__logo{
      display: inline-block;
      &-img{
        display: block;
      }
    }
  }

}
